h1{color: rgb(255, 0, 0); }

        img{width: 400px; }

        #thirdDiv {height: 600px; width: 500px; background-color: rgb(107, 107, 107); padding: 50px; border: 20px black solid ; }

        #spanId {margin: 50px; }